@import url("reset.css");

.clearfix::after{
    clear: both;
    content: '';
    display: block;

}

.container{
    width: 1200px;
    margin: 0 auto;  
}

.box{
    font-size: 0;
    text-align: justify;
}

.card-1{
    width: 400px;
    height: 400px;
    outline: 1px solid gray;
    float: left;
}

.card-4{
    width: 400px;
    height: 400px;
    outline: 1px solid gray;
    float: left;
}

.card-5{
    width: 800px;
    height: 200px;
    outline: 1px solid gray;
    float: left;
}

.card-6{
    width: 400px;
    height: 200px;
    outline: 1px solid gray;
    float: left;
}

.card-7{
    width: 400px;
    height: 100px;
    outline: 1px solid gray;
    float: left;
}


.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.yellow > div {
    width: 800px;
    float: left;
    outline: 1px solid gray;
}

.yellow > div + div{
    width: 400px;
}

.pink{
    background-color: pink;
}

.h-133{
    height: 133.3px;
    outline: 1px solid gray ;
}

.h-200{
   height: 200px;
   outline: 1px solid gray ;
}






